<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1>This is the index of users!</h1>
            <% users.forEach(function(user){ %>
                <div class="col-md-3 col-sm-6">
                    <h4>
                        <a href="/users/<%= user.id %>">
                            <%= user.firstName %>
                        </a>
                    </h4>
                </div>
                <% }) %>
        </div>
        <div class="row">
            <a href="/users/new">Add a New User</a>
        </div>
    </div>

    <% include ../partials/footer %>