<% include ./partials/header %>

    <div id="landing-header">
        <h1>Welcome to MiKiniela!</h1>
        <a href="login" class="btn btn-lg btn-success">Start!</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>